
body{
  box-sizing: border-box;
  margin: 0px;

}

/* Header */

.header{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/banner/meny1.jpg);

}

/* Navbar */
.navbar{
  margin: 20px 30px;
  background-color: transparent;
}

.navbar-menu{
  background-color: transparent;
  font-weight: bolder;

}

.navbar-end{
width: 100px;
font-family: 'Montserrat', sans-serif;
}

/* Hoved title */
.title{
  color: #222831;
  font-size: 5rem;
  position: absolute;
  left:50%;
  top:30%;
  transform: translate(-50%,-50%);
  font-family: 'Just Another Hand', cursive;
  font-weight: bold;
}

/* Meny cards */

#food-section h3{
  font-family: 'Montserrat', sans-serif;
}
#food-section p{
  font-family: 'Montserrat', sans-serif;
}

.card:hover{
  color:#8c0000;
}




/* Media queries */
@media screen and (max-width: 1023px) {
  .navbar {
  position: relative;
  }

  .navbar-menu {
    position: absolute;
    right: 20px;
  }

  .navbar-end{
    border-radius: 10%;
    height: 49px;
  }

}
