@media screen and (max-width: 1023px) {
  .title {
    font-size: 16vw;
  }
  .navbar {
    position: relative;
  }
  .navbar-menu {
    position: absolute;
    right: 0;
  }
  .nav-button:nth-child(2){
    background: #b48e53;
  }
  .nav-button{
    margin-top:5%;
  }
  /* Intro div */
  .intro{
    padding: 5rem 0 3rem;
  }
  .intro h3 {
    line-height: 1.2;
    width: 90%;
    font-size: 5vmax;
  }
  .intro p {
    line-height: 1.5;
    width: 90%;
    font-size: 3vmax;
  }
  /* Meny */
  .meny {
    text-align: center;
    flex-direction: column;
  }
  .meny-pic {
    width: 70%;
    height: auto;
    margin-top: 5%;
  }
  .meny h4 {
    font-size: 6vmax;
    font-weight: 600;
  }
  .meny a {
    font-size: 4.5vmax;
    line-height: 1.8;
  }
  .meny-mobil{
    display: flex;
  }
  .meny{
    display: none;
  }
  /* Footer contact part */
  .footer-div {
    padding: 15% 0 1%;
  }
  .content1 {
    display: block;
    width: 90%;
  }
  .footer-section1{
    padding: 0;
  }
  .footer-section1 h1 {
    font-size: 8vmax;
  }
  .section1-info1 {
    font-size: 1.2rem;
  }
  .section1-info2 {
    font-size: 1rem;
  }
  .footer-button {
    width: 100%;
  }
  .footer-section2 {
    border-left: none;
    padding-left: 0px;
  }
  .content2 {
    text-align: center;
    font-weight: normal;
    width: 92%;
    margin:auto;
    line-height: 1.5;
  }
  .footer-section2 h3 {
    margin: 10% 0 5%;
    font-size: 8vmax;
  }
  .footer-section2 h4 {
    margin: 0;
    padding: 0;
    font-size: 3vmax;
  }
  .wrap {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
  }
  /* Footer bokses */
  .box{
    flex-basis: 31%;
  }
  iframe {
    width: 100%;
    margin:3% auto;

  }
}

@media screen and (min-width: 600px) and (max-width:1023px){
  .title {
    font-size: 14vw;
  }
  .intro h3{
    font-size: 6vmax;
  }
  .meny-pic-mobil {
    width: 60%;
    height: auto;
    margin-top: 5%;
  }
  .meny-mobil-div{
    padding: 5%;
    line-height: 1;
    width: 60%;
  }
  .wrap1{
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items:center;
  }
  .box{
    flex-basis: 20%;
  }
}
