
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', serif;
  color:#323232;
  font-size: 1rem;
  background: #f9f3f3;
}
/* black:#323232 orange: #b48e53 red: #8c0000  white: #f9f3f3*/

/* Felles css for meny */
.header{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.meny-pic{
  width: 65%;
  height:auto;
  opacity: 0.9;
  animation-name: meny-pic;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* Animation for meny pic tatto */
@keyframes meny-pic {
  0% {
    opacity: 0;
    margin-top: 400px;
  }

  100% {
    opacity: 1;
    margin:0
  }
}

.buttons-meny{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-end;
}

.button-meny{
  padding: 0.2em 1.5em;
  color: #b48e53;
  display: inline-block;
  text-align: center;
  border: 1px solid #b48e53;
  font-size: 1.1rem;
  font-family: 'Cormorant', serif;
}

h3{
  font-size: 3vw;
  padding-top:4%;
}

h4{
  font-size: 1.5rem;
  color:#b48e53;
  font-weight: 600;
}

hr{
  width: 5%;
  height: 1px;
  background: #b48e53;
  margin: 2% auto 4%;
}

.alergier{
  color:#b48e53;
}

.pris{
  margin-top: 10%;
  font-weight: 500;
  font-family: serif;
}

.rett-beskrivelse{
  width: 55%;
  margin: auto;
}

.aos{
  opacity: 0;
}

.animation-aos {
  animation-name: intro;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Animation for intro */
@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Lunch section */
.lunch-div{
  background-image: url(../images/other/lunch.jpg);
  width: 100%;
  height: 300px;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  transform:translatez(0);
  -webkit-transform:translatez(0);
}

.section-lunch{
  text-align: center;
  position: relative;
}

.section-lunch::before{
  content: "";
  background-image:url(../images/other/sakura-big.png);
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   opacity: 0.1;
   overflow: hidden;
}

.section-lunch img{
  position: absolute;
  width: 25%;
  left: -25px;

}

.lunch{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin: auto;
  padding-bottom: 4%;
}

.lunch-box{
  width: 45%;
  margin: 5% 0;
}

/* Dinner section */
.dinner-div{
  background-image: url(../images/other/japan3.jpg);
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  transform:translatez(0);
  -webkit-transform:translatez(0);
}

.section-dinner{
  text-align: center;
  position: relative;
}

.section-dinner img{
  position: absolute;
  width: 25%;
  top:0;
  right:0;
}

.dinner{
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  padding-bottom: 4%;
}

.dinner-box{
  width: 45%;
  margin: 5% 0;
}

/* Section desert */

.section-desert{
  text-align: center;
}

.desert{
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  padding-bottom: 4%;
}

.desert-box{
  width: 45%;
  margin: 5% 0;
}

/* Section drinks*/
.drinks-div{
  background-image: url(../images/other/drink.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  transform:translatez(0);
  -webkit-transform:translatez(0);
}

.section-drink{
  text-align: center;
  position: relative;
  height: 100vh;
}

.section-drink::before{
  content: "";
  background-image:url(../images/other/sakura-big.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   opacity: 0.1;
   overflow: hidden;
}

.drink{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
}

.footer-button{
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8em 1.5em;
  color: #f9f3f3;
  background-color: #b48e53;
}

.drink-box{
  width: 45%;
  margin: 5% 0;
}


/* Legger til Hover efekter */
@media screen and (min-width: 1023px){
  .button-meny:hover{
    background: #b48e53;
    transition: 0.6s;
    color:#f9f3f3;
  }

  .icones a:hover{
    color: #323232;
    transition: 0.3s;
  }
  .footer-button:hover{
    background-color: transparent;
    color:#323232;
  }
}
/* Query for ipad */
@media screen and (min-width: 600px) and (max-width:1023px){
  .meny-pic{
    width: 75%;
  }
  h3{
    font-size: 4vw;

  }

  h4{
    font-size: 1.2rem;
  }

  .lunch{
    width: 100%;
  }
  .lunch-box{
    width: 45%;
  }

  .dinner{
    width: 90%;
    flex-wrap: wrap;
  }
  .dinner-box{
    width: 100%;
  }
  .desert{
    width: 90%;
    flex-wrap: wrap;
  }
  .desert-box{
    width: 100%;
  }

  .drink{
    width: 80%;
  }
  .drink-box{
    width: 45%;
  }

  .lunch-div{
    height: 250px;
  }

  .dinner-div{
    height: 250px;
  }

  .drinks-div{
    height: 250px;
  }


}
/* Query for mobil */
@media screen and (max-width: 600px){
  .meny-pic{
    width: 80%;
  }

  .buttons-meny{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

  }
  .button-meny{
    width:40%;
  }

  .lunch-div{
    height: 200px;
  }

  .dinner-div{
    height: 200px;
  }

  .drinks-div{
    height: 200px;
  }
  h3{
    font-size: 6vw;
  }

  h4{
    font-size: 0.9rem;
  }

  .beskrivelse{
    width: 100%;
  }

  .lunch{
    width: 100%;
    font-size: 0.7rem;
  }
  .lunch-box{
    width: 50%;
    margin:3% 0;
  }

  .dinner{
    width: 100%;
    flex-wrap: wrap;
    font-size: 0.7rem;
  }
  .dinner-box{
    width: 100%;
    margin:3% 0;
  }

  .desert{
    width: 100%;
    flex-wrap: wrap;
    font-size: 0.7rem;
  }
  .desert-box{
    width: 100%;
    margin:3% 0;
  }

  .drink{
    width: 100%;
    font-size: 0.7rem;
  }
  .drink-box{
    width: 50%;
    margin:3% 0;

  }
  .section-drink{
    height: 70vh;
  }

  .footer-button{
    padding: 1.5em 1.5em;
    bottom: 4%;
  }
}
