/* Modal header */
.modal-card-head{
  background: #323232;
  height: 10%;

}

/* Modal title */
.modal-card-title{
  color:#b48e53;
  font-size: 2vmax;
}

/* knapp som stenger modalen */
.delete{
  display: none;
}

/* body */
.modal-card-body{
  background-color: #f4f4f4;
  position: relative;
}

/* samuray image */
.modal-card-body img{
  position: absolute;
  right: 0px;
  top: 50%;
  height: 68%;
  transform: translateY(-50%);
  opacity: 0.3;
}

/* footer */
.modal-card-foot{
 background: #323232;
 height: 10%;
 display: flex;
 justify-content:flex-end;
}

/* Text over inputs */
.label-modal{
  color: #323232;
  font-size: 1.2rem;
}

/* Antall personer */
.range{
  width: 50%;
  opacity: 0.7;
}


.amount{
  font-size: 1.2rem;
  font-family:serif;
  color:#222831;
  margin-left: 2%;
}

/* inputs */
.field{
  width: 60%;
  margin:5px 0;
}

/* Button */
.button-modal{
  background: #b48e53;
  border-radius: 0px;
  padding: 0.5em 2.5em;
  color: #f9f3f3;
  font-family: 'Cormorant', serif;
  font-size: 1.1rem;
  border: 1px solid #b48e53;
  border-radius: 2%;
  font-weight: 600;
}

.button-modal:hover{
  background-color: inherit;
  transition: 0.6s;
}

/* Status bar som dukker opp når brukeren har sendt bestillig */
.modal-footer-status{
  color:#b48e53;
  font-size: 3.5vw;
  position: absolute;
  left:50%;
  font-family: 'Just Another Hand';
  transform: translateX(-50%);

}
/* Media queries */

@media screen and (max-width: 1023px) {
  .delete{
    display: block;
  }

  .field{
    width: 100%;
    margin: 0;
  }

  .dato-klokkeslett-wrap{
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .dato{
  width: 61%;
  }

  .klokkeslett{
    width: 36%;
  }

  .modal-card-head{
    background: #4f4f4f;
    height: 4%;
  }

  .modal-card-body img{
    opacity: 0.1;
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);
    display:none;
  }

  .button-modal{
    width: 90vw;
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  .modal-card-foot{
   background: #4f4f4f;
   height: 10%;
  }
}

.modal-footer-status{
  font-size: 4.5vh;

}



/*
<div class="antall-personer">
  <label class="label label-modal">Antall personer:</label>

  <div class="select">
    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
  </div>

</div>


 <!-- Antall personer -->
 <div class="field">
   <label class="label label-modal">Antall personer</label>
     <div class="field-body">
     <div class="field">
         <input class=" antall-personer" type="range" min="0" max="8" name="Antall personer: " placeholder="Antall"  value="">
         <p class="control is-expanded has-icons-left">
         <input class="input andall-personer" type="text" name="" value="">
         <span class="icon is-small is-left">
           <i class="fas fa-users"></i>
         </span>
       </p>
     </div>
     </div>
   </div>

    */
