
/* Modal header */
.modal-card-head{
  background: #4f4f4f;
  height: 10%;
}

/* Modal title */
.modal-card-title{
  color:#8c0000;
  font-weight: bolder;
  font-family: 'Just Another Hand', cursive;
  font-size: 4vmax;
  text-align: center;
}

/* knapp som stenger modalen */
.delete{
  display: none;
}

/* body */
.modal-card-body{
  background-color: #f4f4f4;
  position: relative;
}

/* samuray image */
.modal-card-body img{
  position: absolute;
  right: 0px;
  top: 50%;
  height: 68%;
  transform: translateY(-50%);
  opacity: 0.5;
}

/* footer */
.modal-card-foot{
 background: #4f4f4f;
 height: 10%;
 display: flex;
 justify-content: flex-end;
}

/* Text over inputs */
.label-modal{
  color: #222831;
  font-size: 1.2rem;
}

.antall-personer{
  width: 50%;
}

.amount{
  font-size: 2rem;
  font-family:serif;
  color:red;
}

.range{

}

/* inputs */
.field{
  width: 60%;
  margin:10px 0
}

/* Button */
.button-modal{
  background: #8c0000;
  border-radius: 0px;
  padding: 1.2em 2.5em;
  color: #f9f3f3;
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  border: 0.1px;

}

/* Status bar som dukker opp når brukeren har sendt bestillig */


#my-form-status{
  color:#8c0000;
  font-size: 3rem;
  position: absolute;
  left:50%;
  font-family: 'Just Another Hand', cursive;
  transform: translateX(-50%);
}


/* Media queries */

@media screen and (max-width: 1023px) {
  .delete{
    display: block;
  }

  .field{
    width: 100%;
    margin: 0;
  }

  .modal-card-head{
    background: #4f4f4f;
    height: 4%;
  }

  .modal-card-body img{
    right:50%;
    transform: translateX(50%);
    opacity: 0.1;
  }
  .button-modal{
    width: 100%;
    height: 30px;
    padding:0;
  }

  .modal-card-foot{
   background: #4f4f4f;
   height: 7%;
  }
}


/*
<div class="antall-personer">
  <label class="label label-modal">Antall personer:</label>

  <div class="select">
    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
  </div>

</div>


 <!-- Antall personer -->
 <div class="field">
   <label class="label label-modal">Antall personer</label>
     <div class="field-body">
     <div class="field">
         <input class=" antall-personer" type="range" min="0" max="8" name="Antall personer: " placeholder="Antall"  value="">
         <p class="control is-expanded has-icons-left">
         <input class="input andall-personer" type="text" name="" value="">
         <span class="icon is-small is-left">
           <i class="fas fa-users"></i>
         </span>
       </p>
     </div>
     </div>
   </div>

    */
