body{
  position: static;
}
/* Modal header */
.modal-card-head{
  background: #323232;
  height: 10%;
}

/* Modal title */
.modal-card-title{
  color:#b48e53;
  font-size: 2vmax;
}

/* knapp som stenger modalen */
.delete{
  display: none;
}

/* body */
.modal-card-body{
  background-color: #f4f4f4;
  position: relative;
}

/* samuray image */
.modal-card-body img{
  position: absolute;
  right: 0px;
  top: 50%;
  height: 68%;
  transform: translateY(-50%);
  opacity: 0.3;
}

/* footer */
.modal-card-foot{
 background: #323232;
 height: 10%;
 display: flex;
 justify-content:flex-end;
}

/* Text over inputs */
.label-modal{
  color: #323232;
  font-size: 1.2rem;
}

/* Antall personer */
.range{
  width: 70%;
  opacity: 0.7;
}


.amount{
  font-size: 1.2rem;
  font-family:serif;
  color:#222831;
  margin-right: 3%;
}

/* inputs */
.field{
  width: 60%;
  margin:5px 0;
}

/* Button */
.button-modal{
  background: #b48e53;
  border-radius: 0px;
  padding: 0.5em 2.5em;
  color: #f9f3f3;
  font-family: 'Cormorant', serif;
  font-size: 1.1rem;
  border: 1px solid #b48e53;
  border-radius: 2%;
  font-weight: 600;
}

/* Status bar som dukker opp når brukeren har sendt bestillig */
.modal-footer-status{
  color:#b48e53;
  font-size: 2.8vw;
  position: absolute;
  left:50%;
  font-family: 'Just Another Hand';
  transform: translateX(-50%);

}
/* Media queries */

@media screen and (max-width: 1023px) {
  .delete{
    display: block;
  }

  .field{
    width: 100%;
    margin: 0;
  }

  .dato-klokkeslett-wrap{
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .dato{
  width: 61%;
  }

  .klokkeslett{
    width: 36%;
  }

  .modal-card-head{
    height: 4%;
  }

  .modal-card-body img{
    opacity: 0.1;
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);
    display:none;
  }

  .button-modal{
    width: 90vw;
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  .modal-card-foot{
   height: 10%;
  }

  .modal-footer-status{
    font-size: 6.4vw;
  }
}
